@tailwind base;
@tailwind components;
@tailwind utilities;

/* .theme-small * {
  @apply text-[1rem];
}
.theme-medium * {
  @apply text-[1.15rem];
}
.theme-large * {
  @apply text-[1.15rem];
}
 */

.small {
  font-size: 16px;
}
.medium {
  font-size: 18px;
}
.large {
  font-size: 20px;
}
