@tailwind base;
@tailwind components;
@tailwind utilities;

/* .theme-small * {
  @apply bg-red-600;
}
.theme-medium * {
  @apply bg-blue-600;
}
.theme-large * {
  @apply bg-yellow-600;
}
 */
.theme-inverted * {
  /* @apply bg-red-500; */
}
.theme-dark * {
}

.small {
  font-size: 16px;
}
.medium {
  font-size: 18px;
}
.large {
  font-size: 20px;
}
